@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/test.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* LESS variables */
/* HTML element styles */
body {
  font-family: Helvetica, Arial;
  font-size: 12px;
}
.side-borders {
  border-right: 1px solid #bed2db;
  border-left: 1px solid #bed2db;
}
.left-margin {
  margin-left: 10px;
}
.bottom-border {
  border-bottom: 1px solid #bed2db;
}
.textarea {
  padding: 10px;
  width: 500px;
  height: 180px;
}
.hide {
  display: none;
}
/* tree styles */
.tree-view .tree-node {
  border: 1px solid #bed2db;
  background: #f0f9ff;
  padding: 10px;
}
.tree-node-content {
  margin-bottom: 10px;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  box-sizing: border-box;
}
.angular-ui-tree-handle {
  padding: 0;
  font-weight: normal;
}
/*  angular material design style overrides */
.md-subheader {
  background: #f0f9ff;
  margin-right: 0;
  text-align: center;
  font-weight: bold;
}
md-tabs-wrapper {
  background: #f0f9ff !important;
}
md-tab-item {
  border-bottom: 1px solid #bed2db;
}
md-tab-item:first-child {
  border-right: 1px solid #bed2db;
}
md-tab-item.md-active {
  background: #fff;
  border-bottom: none;
  border-top: 1px solid #bed2db;
}
md-tab-item span {
  color: #000;
}
md-tab-item.md-active span {
  font-weight: bold;
}
md-list-item:hover {
  background: #f0f9ff;
}
/* bootstrap framework style overrides */
.row {
  padding: 0 !important;
  margin: 0;
}
.alert {
  margin: 0;
  padding: 10px;
  margin-top: 10px;
}
